@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

h2 {
  font-family: 'Poppins', serif;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
  font-family: 'Poppins', sans-serif;
}

th {
  background-color: #fce4ec;
  border: 1px solid #000;
  padding: 12px;
  font-weight: 600;
  text-align: center;
}

td {
  border: 1px solid #000;
  padding: 12px;
  text-align: center;
}

tr:hover {
  background-color: #fff9fb;
}
